<header>
  <form>
    <input
      [value]="pokemonSerchWordKey()"
      (input)="serchPokemonHandler($event)"
      type="text"
    />
    <i class="fa-solid fa-magnifying-glass"></i>
  </form>
</header>
<div class="box">
  @if(pokemons.isLoading()){
  <p>Carregando...</p>
  } @if(itensDaPaginaAtual){ @for(pokemon of itensDaPaginaAtual; track
  pokemon.name){
  <app-pokebola8-bits [pokemon]="pokemon"></app-pokebola8-bits>
  }
  <app-paginator
    [totalItems]="pokemons.value()?.results?.length"
    [pageSize]="pageSize"
    (pageChanged)="onPageChanged($event)"
  ></app-paginator>
  }
</div>
