<header>
  <img src="/pokemon_logo_PNG5.png" />
  <div><p>Tipos</p></div>
</header>
<form>
  <input
    [value]="pokemonSerchWordKey()"
    (input)="serchPokemonHandler($event)"
  />
  <button>Enviar</button>
</form>

<div class="box">
  @if(pokemons.isLoading()){
  <p>Carregando...</p>
  } 
  
  @if(pokemons.value()?.results){ 
    @for(pokemon of pokemons.value()?.results; track pokemon.name){
      <app-cards [pokemon]="pokemon"></app-cards>
    } 
  }@else {
    <app-cards [pokemon]="pokemons.value()"></app-cards>
  }
</div>
