@import "../../utilities/styles/variables.scss";

header {
  width: 100%;
  height: 7rem;
  background-color: #ecf4f7;
  box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    position: relative;
    input {
      background-color: #e3edf6;
      border-radius: 1rem;
      box-shadow: inset 0 1.5px 5px rgba(0, 0, 0, 0.4);
      padding: 0.5rem 0 0.5rem 2.3rem;
      font-size: 1rem;
      font-family: "VT323";
      text-transform: uppercase;
      width: 25rem;

      &:focus {
        outline: none;
      }
    }
    i {
      position: absolute;
      right: 93%;
      top: 30%;
    }
  }
}
.boxForm {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
