@import "../../utilities/styles/variables.scss";

.pokebola {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 0.4em $primary-black;
  margin: 0.5em;
  border-radius: 50%;
  overflow: hidden;
  width: 15em;
  height: 15em; 
  position: relative;
  
  .cimaPokebola {
    width: 100%;
    height: 100%;
    background-color: $secundary-red;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-family: "VT323", monospace;
      font-weight: 400;
      font-style: normal;
      font-size: 2.5em;
      margin-bottom: 1rem;
    }
  }


  button {
    background-color: $primary-white;
    font-size: 1em;
    color: $primary-red;
    border-radius: 50%;
    border: solid 0.1em $primary-black;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%,-50%);
    width:  4.5em;
    height: 4.5em;
    cursor: pointer;
    box-shadow: 0px 0.3rem 0 rgb(204, 204, 204);

    &:active {
      background-color: $primary-white;
      box-shadow: 0 0 rgb(165, 165, 165);
      transform: translate(-2.25rem, -2rem);
      transition: 1ms;
    }
  }

  .sombraBotao{
    border-radius: 50%;
    width:  5em;
    height: 5em;
    background-color: $primary-black;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    float: left;
  }
  
  .baixoPokebola {
    width: 100%;
    height: 100%;
    background-color: $primary-white;
    border-top: solid 0.4em $primary-black;
  }
}


