@import "../../utilities/styles/variables.scss";
$color: #ffe9e9;
$color-dark: darken($color, 10%);
$color-border: rgba(darken($color, 60%), .45);
$color-text: darken($color, 85%);

.pokebola {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 0.4em $primary-black;
  margin: 0.5em;
  border-radius: 50%;
  overflow: hidden;
  width: 15em;
  height: 15em; 
  position: relative;
  
  .cimaPokebola {
    width: 100%;
    height: 100%;
    background-color: $secundary-red;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-family: "VT323", monospace;
      font-weight: 400;
      font-style: normal;
      font-size: 2.5em;
    }
  }
  button {
    background-color: $primary-white;
    font-size: 1em;
    color: $primary-red;
    border-radius: 50%;
    border: solid 0.4em $primary-black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:  4.5em;
    height: 4.5em;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 150ms cubic-bezier(.175, .885, .32, 1.275);

    &::before {
      background: $color-dark;
      border-radius: inherit;
      box-shadow:
        0 0 0 2px $color-dark,
        0 .6em 0 0 rgba($color, .6);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: translate3d(0, .75em, -1em);
      transition: all 150ms cubic-bezier(.175, .885, .32, 1.275);
      width: 100%;
    }

  
    &:active {
      background: $color;
      transform: translate(0, .75em);
  
      &::before {
        box-shadow:
          0 0 0 3px $color-border,
          0 0 $color;
        transform: translate3d(0, 0, 5em);
      }
    }
  }
  
  .baixoPokebola {
    width: 100%;
    height: 100%;
    background-color: $primary-white;
    border-top: solid 0.4em $primary-black;
  }
}


