@import "../../utilities/styles/variables.scss";

.pokebola {
    width: 17rem;
    height: 17rem;
    .pixel{
        width: $size;
        height: $size;
        box-shadow:
        // row 1
        calc($size * 1) 0 0 blue,
              calc($size * 2) 0 0 blue,
              calc($size * 3) 0 0 blue,
              calc($size * 4) 0 0 blue,
              calc($size * 5) 0 0 blue,
              calc($size * 6) 0 0 blue,
              calc($size * 7) 0 0 $primary-black,
              calc($size * 8) 0 0 $primary-black,
              calc($size * 9) 0 0 $primary-black,
              calc($size * 10) 0 0 $primary-black,
              calc($size * 11) 0 0 $primary-black,
              calc($size * 12) 0 0 blue,
              calc($size * 13) 0 0 blue,
              calc($size * 14) 0 0 blue,
              calc($size * 15) 0 0 blue,
              calc($size * 16) 0 0 blue,
              calc($size * 17) 0 0 blue,
        // row 2
        calc($size * 1) 1rem 0 blue,
              calc($size * 2) 1rem 0 blue,
              calc($size * 3) 1rem 0 blue,
              calc($size * 4) 1rem 0 blue,
              calc($size * 5) 1rem 0 $primary-black,
              calc($size * 6) 1rem 0 $primary-black,
              calc($size * 7) 1rem 0 $primary-red,
              calc($size * 8) 1rem 0 $primary-red,
              calc($size * 9) 1rem 0 $primary-red,
              calc($size * 10) 1rem 0 $primary-red,
              calc($size * 11) 1rem 0 $primary-red,
              calc($size * 12) 1rem 0 $primary-black,
              calc($size * 13) 1rem 0 $primary-black,
              calc($size * 14) 1rem 0 blue,
              calc($size * 15) 1rem 0 blue,
              calc($size * 16) 1rem 0 blue,
              calc($size * 17) 1rem 0 blue,
        // row 3
        calc($size * 1) 2rem 0 blue,
              calc($size * 2) 2rem 0 blue,
              calc($size * 3) 2rem 0 blue,
              calc($size * 4) 2rem 0 $primary-black,
              calc($size * 5) 2rem 0 $primary-red,
              calc($size * 6) 2rem 0 $primary-white,
              calc($size * 7) 2rem 0 $primary-white,
              calc($size * 8) 2rem 0 $primary-red,
              calc($size * 9) 2rem 0 $primary-red,
              calc($size * 10) 2rem 0 $primary-red,
              calc($size * 11) 2rem 0 $primary-red,
              calc($size * 12) 2rem 0 $primary-red,
              calc($size * 13) 2rem 0 $primary-red,
              calc($size * 14) 2rem 0 $primary-red,
              calc($size * 15) 2rem 0 $primary-black,
              calc($size * 16) 2rem 0 blue,
              calc($size * 17) 2rem 0 blue,
        // row 4
        calc($size * 1) 3rem 0 blue,
              calc($size * 2) 3rem 0 blue,
              calc($size * 3) 3rem 0 $primary-black,
              calc($size * 4) 3rem 0 $primary-red,
              calc($size * 5) 3rem 0 $primary-white,
              calc($size * 6) 3rem 0 $primary-white,
              calc($size * 7) 3rem 0 $primary-red,
              calc($size * 8) 3rem 0 $primary-red,
              calc($size * 9) 3rem 0 $primary-red,
              calc($size * 10) 3rem 0 $primary-red,
              calc($size * 11) 3rem 0 $primary-red,
              calc($size * 12) 3rem 0 $primary-red,
              calc($size * 13) 3rem 0 $primary-red,
              calc($size * 14) 3rem 0 $primary-red,
              calc($size * 15) 3rem 0 $primary-black,
              calc($size * 16) 3rem 0 blue,
              calc($size * 17) 3rem 0 blue,
        // // row 5
        //  0rem 4rem 0 -0.05rem #fff,  
        //  1rem 4rem 0 -0.05rem #fff,  
        //  2rem 4rem 0 -0.05rem $primary-black,  
        //  3rem 4rem 0 -0.05rem $primary-red,  
        //  4rem 4rem 0 -0.05rem $primary-white,  
        //  5rem 4rem 0 -0.05rem $primary-red,  
        //  6rem 4rem 0 -0.05rem $primary-red,  
        //  7rem 4rem 0 -0.05rem $primary-red,  
        //  8rem 4rem 0 -0.05rem $primary-red,  
        //  9rem 4rem 0 -0.05rem $primary-red,  
        //  10rem 4rem 0 -0.05rem $primary-red,  
        //  11rem 4rem 0 -0.05rem $primary-red, 
        //  12rem 4rem 0 -0.05rem $primary-red,
        //  13rem 4rem 0 -0.05rem $primary-red,  
        //  14rem 4rem 0 -0.05rem $primary-black,  
        //  15rem 4rem 0 -0.05rem #fff,
        //  16rem 4rem 0 -0.05rem #fff,
        // // row 6
        //  0rem 5rem 0 -0.05rem #fff,  
        //  1rem 5rem 0 -0.05rem $primary-black,  
        //  2rem 5rem 0 -0.05rem $primary-red,  
        //  3rem 5rem 0 -0.05rem $primary-red,  
        //  4rem 5rem 0 -0.05rem $primary-red,  
        //  5rem 5rem 0 -0.05rem $primary-red,  
        //  6rem 5rem 0 -0.05rem $primary-red,  
        //  7rem 5rem 0 -0.05rem $primary-red,  
        //  8rem 5rem 0 -0.05rem $primary-red,  
        //  9rem 5rem 0 -0.05rem $primary-red,  
        //  10rem 5rem 0 -0.05rem $primary-red,  
        //  11rem 5rem 0 -0.05rem $primary-red, 
        //  12rem 5rem 0 -0.05rem $primary-red,
        //  13rem 5rem 0 -0.05rem $primary-red,  
        //  14rem 5rem 0 -0.05rem $primary-red,  
        //  15rem 5rem 0 -0.05rem $primary-black,
        //  16rem 5rem 0 -0.05rem #fff,
        // // row 7
        //  0rem 6rem 0 -0.05rem #fff,  
        //  1rem 6rem 0 -0.05rem $primary-black,  
        //  2rem 6rem 0 -0.05rem $primary-red,  
        //  3rem 6rem 0 -0.05rem $primary-red,  
        //  4rem 6rem 0 -0.05rem $primary-red,  
        //  5rem 6rem 0 -0.05rem $primary-red,  
        //  6rem 6rem 0 -0.05rem $primary-red,  
        //  7rem 6rem 0 -0.05rem $primary-black,  
        //  8rem 6rem 0 -0.05rem $primary-black,  
        //  9rem 6rem 0 -0.05rem $primary-black,  
        //  10rem 6rem 0 -0.05rem $primary-red,  
        //  11rem 6rem 0 -0.05rem $primary-red, 
        //  12rem 6rem 0 -0.05rem $primary-red,
        //  13rem 6rem 0 -0.05rem $primary-red,  
        //  14rem 6rem 0 -0.05rem $primary-red,  
        //  15rem 6rem 0 -0.05rem $primary-black,
        //  16rem 6rem 0 -0.05rem #fff,
        // // row 8
        //  0rem 7rem 0 -0.05rem $primary-black,  
        //  1rem 7rem 0 -0.05rem $primary-black,  
        //  2rem 7rem 0 -0.05rem $primary-red,  
        //  3rem 7rem 0 -0.05rem $primary-red,  
        //  4rem 7rem 0 -0.05rem $primary-red,  
        //  5rem 7rem 0 -0.05rem $primary-red,  
        //  6rem 7rem 0 -0.05rem $primary-black,  
        //  7rem 7rem 0 -0.05rem $primary-white,  
        //  8rem 7rem 0 -0.05rem $primary-white,  
        //  9rem 7rem 0 -0.05rem $primary-white,  
        //  10rem 7rem 0 -0.05rem $primary-black,  
        //  11rem 7rem 0 -0.05rem $primary-red, 
        //  12rem 7rem 0 -0.05rem $primary-red,
        //  13rem 7rem 0 -0.05rem $primary-red,  
        //  14rem 7rem 0 -0.05rem $primary-red,  
        //  15rem 7rem 0 -0.05rem $primary-black,
        //  16rem 7rem 0 -0.05rem $primary-black,
        // // row 9
        //  0rem 8rem 0 -0.05rem $primary-black,  
        //  1rem 8rem 0 -0.05rem $primary-white,  
        //  2rem 8rem 0 -0.05rem $primary-black,  
        //  3rem 8rem 0 -0.05rem $primary-black,  
        //  4rem 8rem 0 -0.05rem $primary-black,  
        //  5rem 8rem 0 -0.05rem $primary-black,  
        //  6rem 8rem 0 -0.05rem $primary-black,  
        //  7rem 8rem 0 -0.05rem $primary-white,  
        //  8rem 8rem 0 -0.05rem $primary-white,  
        //  9rem 8rem 0 -0.05rem $primary-white,  
        //  10rem 8rem 0 -0.05rem $primary-black,  
        //  11rem 8rem 0 -0.05rem $primary-black, 
        //  12rem 8rem 0 -0.05rem $primary-black,
        //  13rem 8rem 0 -0.05rem $primary-black,  
        //  14rem 8rem 0 -0.05rem $primary-black,  
        //  15rem 8rem 0 -0.05rem $primary-white,
        //  16rem 8rem 0 -0.05rem $primary-black,
        // // row 10
        //  0rem 9rem 0 -0.05rem $primary-black,  
        //  1rem 9rem 0 -0.05rem $primary-black,  
        //  2rem 9rem 0 -0.05rem $primary-white,  
        //  3rem 9rem 0 -0.05rem $primary-white,  
        //  4rem 9rem 0 -0.05rem $primary-white,  
        //  5rem 9rem 0 -0.05rem $primary-white,  
        //  6rem 9rem 0 -0.05rem $primary-black,  
        //  7rem 9rem 0 -0.05rem $primary-white,  
        //  8rem 9rem 0 -0.05rem $primary-white,  
        //  9rem 9rem 0 -0.05rem $primary-white,  
        //  10rem 9rem 0 -0.05rem $primary-black,  
        //  11rem 9rem 0 -0.05rem $primary-white, 
        //  12rem 9rem 0 -0.05rem $primary-white,
        //  13rem 9rem 0 -0.05rem $primary-white,  
        //  14rem 9rem 0 -0.05rem $primary-gray,  
        //  15rem 9rem 0 -0.05rem $primary-black,
        //  16rem 9rem 0 -0.05rem $primary-black,
        // // row 11
        //  0rem 10rem 0 -0.05rem #fff,  
        //  1rem 10rem 0 -0.05rem $primary-black,  
        //  2rem 10rem 0 -0.05rem $primary-white,  
        //  3rem 10rem 0 -0.05rem $primary-white,  
        //  4rem 10rem 0 -0.05rem $primary-white,  
        //  5rem 10rem 0 -0.05rem $primary-white,  
        //  6rem 10rem 0 -0.05rem $primary-white,  
        //  7rem 10rem 0 -0.05rem $primary-black,  
        //  8rem 10rem 0 -0.05rem $primary-black,  
        //  9rem 10rem 0 -0.05rem $primary-black,  
        //  10rem 10rem 0 -0.05rem $primary-white,  
        //  11rem 10rem 0 -0.05rem $primary-white, 
        //  12rem 10rem 0 -0.05rem $primary-white,
        //  13rem 10rem 0 -0.05rem $primary-gray,  
        //  14rem 10rem 0 -0.05rem $primary-gray,  
        //  15rem 10rem 0 -0.05rem $primary-black,
        //  16rem 10rem 0 -0.05rem #fff,
        // // row 12
        //  0rem 11rem 0 -0.05rem #fff,  
        //  1rem 11rem 0 -0.05rem $primary-black,  
        //  2rem 11rem 0 -0.05rem $primary-white,  
        //  3rem 11rem 0 -0.05rem $primary-white,  
        //  4rem 11rem 0 -0.05rem $primary-white,  
        //  5rem 11rem 0 -0.05rem $primary-white,  
        //  6rem 11rem 0 -0.05rem $primary-white,  
        //  7rem 11rem 0 -0.05rem $primary-white,  
        //  8rem 11rem 0 -0.05rem $primary-white,  
        //  9rem 11rem 0 -0.05rem $primary-white,  
        //  10rem 11rem 0 -0.05rem $primary-white,  
        //  11rem 11rem 0 -0.05rem $primary-white, 
        //  12rem 11rem 0 -0.05rem $primary-gray,
        //  13rem 11rem 0 -0.05rem $primary-gray,  
        //  14rem 11rem 0 -0.05rem $primary-gray,  
        //  15rem 11rem 0 -0.05rem $primary-black,
        //  16rem 11rem 0 -0.05rem #fff,
        // // row 13
        //  0rem 12rem 0 -0.05rem #fff,  
        //  1rem 12rem 0 -0.05rem #fff,  
        //  2rem 12rem 0 -0.05rem $primary-black,  
        //  3rem 12rem 0 -0.05rem $primary-white,  
        //  4rem 12rem 0 -0.05rem $primary-white,  
        //  5rem 12rem 0 -0.05rem $primary-white,  
        //  6rem 12rem 0 -0.05rem $primary-white,  
        //  7rem 12rem 0 -0.05rem $primary-white,  
        //  8rem 12rem 0 -0.05rem $primary-white,  
        //  9rem 12rem 0 -0.05rem $primary-white,  
        //  10rem 12rem 0 -0.05rem $primary-white,  
        //  11rem 12rem 0 -0.05rem $primary-gray, 
        //  12rem 12rem 0 -0.05rem $primary-gray,
        //  13rem 12rem 0 -0.05rem $primary-gray,  
        //  14rem 12rem 0 -0.05rem $primary-black,  
        //  15rem 12rem 0 -0.05rem #fff,
        //  16rem 12rem 0 -0.05rem #fff,
        // // row 14
        //  0rem 13rem 0 -0.05rem #fff,  
        //  1rem 13rem 0 -0.05rem #fff,  
        //  2rem 13rem 0 -0.05rem #fff,  
        //  3rem 13rem 0 -0.05rem $primary-black,  
        //  4rem 13rem 0 -0.05rem $primary-white,  
        //  5rem 13rem 0 -0.05rem $primary-white,  
        //  6rem 13rem 0 -0.05rem $primary-white,  
        //  7rem 13rem 0 -0.05rem $primary-white,  
        //  8rem 13rem 0 -0.05rem $primary-white,  
        //  9rem 13rem 0 -0.05rem $primary-white,  
        //  10rem 13rem 0 -0.05rem $primary-gray,  
        //  11rem 13rem 0 -0.05rem $primary-gray, 
        //  12rem 13rem 0 -0.05rem $primary-gray,
        //  13rem 13rem 0 -0.05rem $primary-black,  
        //  14rem 13rem 0 -0.05rem #fff,  
        //  15rem 13rem 0 -0.05rem #fff,
        //  16rem 13rem 0 -0.05rem #fff,
        // // row 14
        //  0rem 14rem 0 -0.05rem #fff,  
        //  1rem 14rem 0 -0.05rem #fff,  
        //  2rem 14rem 0 -0.05rem #fff,  
        //  3rem 14rem 0 -0.05rem #fff,  
        //  4rem 14rem 0 -0.05rem $primary-black,  
        //  5rem 14rem 0 -0.05rem $primary-black,  
        //  6rem 14rem 0 -0.05rem $primary-white,  
        //  7rem 14rem 0 -0.05rem $primary-white,  
        //  8rem 14rem 0 -0.05rem $primary-gray,  
        //  9rem 14rem 0 -0.05rem $primary-gray,  
        //  10rem 14rem 0 -0.05rem $primary-gray,  
        //  11rem 14rem 0 -0.05rem $primary-black, 
        //  12rem 14rem 0 -0.05rem $primary-black,
        //  13rem 14rem 0 -0.05rem #fff,  
        //  14rem 14rem 0 -0.05rem #fff,  
        //  15rem 14rem 0 -0.05rem #fff,
        //  16rem 14rem 0 -0.05rem #fff,
        //  // row 14
        //  0rem 15rem 0 -0.05rem #fff,  
        //  1rem 15rem 0 -0.05rem #fff,  
        //  2rem 15rem 0 -0.05rem #fff,  
        //  3rem 15rem 0 -0.05rem #fff,  
        //  4rem 15rem 0 -0.05rem #fff,  
        //  5rem 15rem 0 -0.05rem #fff,  
        //  6rem 15rem 0 -0.05rem $primary-black,  
        //  7rem 15rem 0 -0.05rem $primary-black,  
        //  8rem 15rem 0 -0.05rem $primary-black,  
        //  9rem 15rem 0 -0.05rem $primary-black,  
        //  10rem 15rem 0 -0.05rem $primary-black,  
        //  11rem 15rem 0 -0.05rem #fff,  
        //  12rem 15rem 0 -0.05rem #fff,  
        //  13rem 15rem 0 -0.05rem #fff,  
        //  14rem 15rem 0 -0.05rem #fff,  
        //  15rem 15rem 0 -0.05rem #fff,
        //  16rem 15rem 0 -0.05rem #fff,
        
        // ;
    }
}